<h2><%= @user.name %></h2>

<% if current_user != @user %>
    <% if current_user.watching? @user %>
        <%= button_to "unWatch #{@user.name}",
            unwatch_mind_path(@user), method: :delete %>
    <% else %>
        <%= button_to "Watch", watch_mind_path(@user) %>
    <% end %>
<% end %>

<div>
  Phone: <b><%= @user.telephone %></b>
</div>
<div>
  City: <b><%= @user.city %>,
  <%= @user.state %></b>
</div>
<hr>

<div id="skillschart" style="width: 800px; height:250px;"></div>

<hr>

<h3>Featured Projects:</h3>
<div>
  <% @projects.each do |project| %>
    <%= content_tag_for(:div, project, "projects") do %>
      <%= render project %>
      <div>
        <h5>Code/Design Samples: </h5>
        <%= render project.samples %>
      </div>
    <% end %>
  <% end %>
<div>

<div>
  <% if @user == current_user %>
    <%= link_to "View all your projects.", projects_path %>
  <% end %>
</div>

<script>
$(function () {
    $('#skillschart').highcharts({
        chart: {
            type: 'bar'
        },
        tooltip: {
            enabled: false
        },
        credits: {
            text: '',
        },
        legend: {
            enabled: false
        },
        title: {
            text: 'Skills',
            color: '000000'
        },
        xAxis: {
            categories: <%== @user.proficiencies.map(&:skill_name) %>,
            gridLineWidth: 0,
            labels: {
                enabled: true,
            },
        },
        plotOptions: {
            series: {
                color: '#68228B'
            }
        },
        yAxis: {
            title: {
                text: ''
            },
            gridLineWidth: 0,
            labels: {
                enabled: false
            }
        },
        series: [{
            data: <%== @user.proficiencies.map(&:level) %>
        }],
    });
});
</script>
