<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td><%= user.city %></td>
  <td><%= user.state %></td>
  <td>
    <ul>
      <% user.proficiencies.each do |proficiency| %>
        <li><%= proficiency.skill_name %> <%= proficiency.level %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>
