<tr>
  <td><%= link_to user.first_name, user %>
  <%= link_to user.last_name, user %></td>
  <td><%= user.city%> <%= user.state %></td>
  <% user.proficiencies.each do |proficiency| %>
    <div>
      <td><%= proficiency.skill.name %></td>
      <td><%= proficiency.level %></td>
    </div>
  <% end %>
</tr>

