<h2>
  <%= link_to user.name, user %>
</h2>
<p>
  location: <%= user.city%> <%= user.state %>
  <% user.proficiencies.each do |proficiency| %>
    <div>
      skills: <%= proficiency.skill.name %>
      <%= proficiency.label %>
    </div>
  <% end %>
</p>
