<h2>Update profile</h2>
<h4>Update contact information:</h4>

<%= form_for @user do |form|%>
  <div>
    <%= form.select :type, User::TYPES, include_blank: "User Type" %>
  </div>
  <div>
    <%= form.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= form.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= form.text_field :city, placeholder: "City" %>
  </div>
  <div>
    <%= form.text_field :state, placeholder: "State" %>
  </div>
  <div>
    <%= form.telephone_field :telephone, placeholder: "Phone Number" %>
  </div>
  <h4>Update links to your personal pages:</h4>
    <%= hidden_field_tag(has_profile: :true) %>
    <%= form.submit "Update Personal Information" %>
  </div>
<% end %>
