<h4>Update User Account information:</h4>
<%= form_for @user.becomes(User), url: user_path(@user) do |form|%>
  <div>
    <%= form.select :type, User::TYPES, include_blank: "User Type" %>
  </div>
  <div>
    <%= form.text_field :first_name, placeholder: "First Name" %>
  </div>
  <div>
    <%= form.text_field :last_name, placeholder: "Last Name" %>
  </div>
  <div>
    <%= form.text_field :city, placeholder: "City" %>
  </div>
  <div>
    <%= form.text_field :state, placeholder: "State" %>
  </div>
  <div>
    <%= form.telephone_field :telephone, placeholder: "Phone Number" %>
  </div>
  <div>
    <%= form.url_field :twitter, placeholder: "Twitter" %>
  </div>
  <div>
    <%= form.url_field :linked_in, placeholder: "LinkedIn" %>
  </div>
  <div>
    <%= form.text_field :github, placeholder: "GitHub" %>
  </div>
    <%= hidden_field_tag(has_profile: :true) %>
    <%= form.submit "Update Contact Information" %>
  </div>
<% end %>
