<h2><%= @user.first_name %> <%=@user.last_name %></h2>

<div>
  Phone: <b><%= @user.telephone %></b>
</div>
<div>
  City: <b><%= @user.city %>,
  <%= @user.state %></b>
</div>
<div>
  <%= @user.github %>
</div>
<div>
  <%= @user.twitter %>
</div>
<div>
  <%= @user.linked_in %>
</div>
<div>
  <%= @user.dribbble %>
</div>
<div>
  <%= @user.blog %>
</div>
<div>
  <%= @user.personal_site %>
</div>
<hr>

<div id="skillschart" style="width: 800px; height:250px;"></div>

<hr>
<h4>About me:</h4>

<div>
  <%= @user.bio %>
</div>
<hr>

<h4>Featured Projects:</h4>
<div>
  <%= render @projects %>
</div>

<div>
  <%= link_to "View all your projects.", projects_path %>
</div>

<script>
$(function () {
    $('#skillschart').highcharts({
        chart: {
            type: 'bar'
        },
        credits: {
            text: '',
        },
        legend: {
            enabled: false
        },
        title: {
            text: 'Skills'
        },
        xAxis: {
            categories: <%== @user.proficiencies.map(&:skill_name) %>,
            gridLineWidth: 0,
            labels: {
                enabled: true
            },
        },
        yAxis: {
            title: {
                text: ''
            },
            gridLineWidth: 0,
            labels: {
                enabled: false
            }
        },
        series: [{
            data: <%== @user.proficiencies.map(&:level) %>
        }],
    });
});
</script>
