<h2><%= @user.first_name %> <%=@user.last_name %></h2>


<div>
  <%= @user.telephone %>
</div>
<div>
  <%= @user.city %>
</div>
<div>
  <%= @user.state %>
</div>
<div>
  <%= @user.github %>
</div>
<div>
  <%= @user.twitter %>
</div>
<div>
  <%= @user.linked_in %>
</div>
<div>
  <%= @user.dribbble %>
</div>
<div>
  <%= @user.blog %>
</div>
<div>
  <%= @user.personal_site %>
</div>
<div>
  <%= @user.bio %>
</div>

<div>
  <% @user.projects.each do |project| %>
    <div>
      <%= link_to project.name, project.url %> 
      <%= project.body %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "View all your projects.", projects_path %>
</div>
