<h2><%= @user.first_name %> <%=@user.last_name %></h2>

<div>
  <%= @user.telephone %>
</div>
<div>
  <%= @user.city %>
</div>
<div>
  <%= @user.state %>
</div>
<div>
  <%= @user.github %>
</div>
<div>
  <%= @user.twitter %>
</div>
<div>
  <%= @user.linked_in %>
</div>
<div>
  <%= @user.dribbble %>
</div>
<div>
  <%= @user.blog %>
</div>
<div>
  <%= @user.personal_site %>
</div>
<hr>
<h4> Skills: </h4>
<% @user.proficiencies.each do |proficiency| %>
  <div>
    <%= proficiency.skill.name %>
    <%= proficiency.level %>
  </div>
<% end %>
<hr>
<h4>About me:</h4>

<div>
  <%= @user.bio %>
</div>
<hr>

<h4>Featured Projects:</h4>
<div>
  <%= render @projects %>
</div>


