<h4>Update "<%= @project.name %>"</h4>

<%= form_for @project do |form|%>
  <div>
    <%= form.label :name, "Project Name: " %>
    <%= form.text_field :name, placeholder: "Project Name" %>
  </div>
  <div>
    <%= form.label :url, "Project url :" %>
    <%= form.url_field :url, placeholder: "Link to your Project" %>
  </div>
  <div>
    <%= form.label :body, "Project description: " %>
    <%= form.text_area :body, 
      placeholder: "A couple sentences about your project..." %>
  </div>
  <div>
    <%= form.check_box :featured %>
    <%= form.label :featured, 'Feature this project' %>
  </div>
  <div>
    <%= form.submit "Update Project" %>
  </div>
<% end %>
