<h2>Your Projects</h2>
<div>

  <div>
    <%= link_to "Add a Project", new_mind_project_path(current_user) %>
  </div>

  <% @projects.each do |project| %>
    <%= content_tag_for(:div, project, "projects") do %>
      <hr>

      <%= render project %>
      <div class="feature-button-form">
        <%= render "feature_button_form", project: project %>
      </div>

      <div>
        <%= button_to "Update Project", edit_project_path(project), method: :get %>
        <%= button_to "Delete Project", project, method: :delete, confirm: "Are you sure you want to delete this project?" %>
      </div>
    <% end %>
  <% end %> 
</div>
