<h1>Projects </h1>
<hr>
<h4>Add a New Project</h4>

<%= form_for [current_user, @project] do |form|%>
  <div>
    <%= form.label :name, "Project Name: " %>
    <%= form.text_field :name, placeholder: "Project Name" %>
  </div>
  <div>
    <%= form.label :url, "Project url :" %>
    <%= form.url_field :url, placeholder: "Link to your Project" %>
  </div>
  <div>
    <%= form.label :body, "Project description: " %>
    <%= form.text_area :body, 
      placeholder: "A couple sentences about your project..." %>
  </div>
  <div>
    <%= form.check_box :featured %>
    <%= form.label :featured, 'Feature this project' %>
  </div>
  <div>
    <%= form.submit "Add New Project" %>  
  </div>
<% end %>

<hr>
<h4>Your Projects</h4>
<div>
  <% @projects.each do |project| %>
    <%= content_tag_for(:div, project, "projects") do %>
      <hr>
      <%= render project %>

      <div>  
        <p> Go to your 
          <%= project.name %> 
          <%= link_to "code/design samples" , project_samples_path(project) %> 
        </p>
      </div>

      <div> 
        <%= link_to "Update Project", edit_project_path(project) %>
        <br>
        <%= link_to "Delete Project", project, 
          method: :delete, 
          confirm: "Are you sure you want to delete this project?" %>
      </div>

      <div class="feature-button-form">
        <%= render "feature_button_form", project: project %>
      </div>
      
    <% end %>
  <% end %> 
</div>
