<h2>Your Projects</h2>
<div>

  <div>
    <%= link_to "Add a Project", new_user_project_path(current_user) %>
  </div>

  <% @projects.each do |project| %>
    <hr>

    <%= render project %>

    <% if project.featured? %>
      <div>
        <em><b>Featured Project</b></em>    
        <%= button_to 'Unfeature', unfeature_project_path(project)%>
      </div>
    <% else %>
      <%= button_to "Feature this project", feature_project_path(project) %>
    <% end %>

    <%= link_to "Update Project", edit_project_path(project) %>
    <%= link_to "Delete Project", project,  
      method: :delete, 
      confirm: "Are you sure you want to delete this project?" %>

  <% end %> 
</div>
