<h2>Your Projects</h2>
<div>

  <div>
    <%= link_to "Add a Project", new_user_project_path(current_user) %>
  </div>

  <% @projects.each do |project| %>
    <%= content_tag_for(:div, project, "projects") do %>
      <hr>

      <%= render project %>

      <div>  
        Go to your <%= project.name %> 
        <%= link_to "code/design samples" , project_samples_path(project) %>
      </div>

      <div> 
        <%= link_to "Update Project", edit_project_path(project)%>
        <%= link_to "Delete Project", project, method: :delete, confirm: "Are you sure you want to delete this project?" %>
      </div>

      <div class="feature-button-form">
        <%= render "feature_button_form", project: project %>
      </div>
      
    <% end %>
  <% end %> 
</div>
