<h2>Add a Project</h2>

<%= form_for [@user, @project], url:mind_projects_path do |form|%>
  <div>
    <%= form.text_field :name, placeholder: "Project Name" %>
  </div>
  <div>
    <%= form.url_field :url, placeholder: "Link to your Project" %>
  </div>
  <div>
    <%= form.text_area :body, placeholder: "A couple sentences about your project..." %>
  </div>
  <div>
    <%= form.check_box :featured %>
    <%= form.label :featured, 'Feature this project' %>
  </div>
  <div>
    <%= form.submit "Update Project" %>  
  </div>
<% end %>
