<%= form_for [current_user, @employer_profile], url:employer_profile_path do |form|%>
  <div>
    <%= form.label :company_name, "Company Name " %>
    <%= form.text_field :company_url, placeholder: "Company Name" %>
  </div>
  <div>
    <%= form.label :company_url, "Company Url " %>
    <%= form.text_field :company_url, placeholder: "Company Url" %>
  </div>
    <%= form.submit "Update Employer Profile" %>
  </div>
<% end %>
