<h1>Search results for "<%= @query %>":</h1>

<% if @minds.empty? %>
  <p>No results match</p>
<% else %>
  <table>
    <tr>
      <th><%= link_to "Name", sort: "first_name", search: { query: @query } %></th>
      <th><%= link_to "City", sort: "city", search: { query: @query } %></th>
      <th><%= link_to "State", sort: "state", search: { query: @query } %></th>
      <th><%= link_to "Skill", sort: "skills.name", search: { query: @query } %></th>
    </tr>
    <%= render @minds %>
  </table>
<% end %>
