<!DOCTYPE html>
<html>
<head>
  <title>UpMinds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><%= link_to 'upMinds', root_path %></h1>
<h3><%= link_to 'Search', users_path %></h3>
<% if signed_in? %>
  Signed in as: <%= current_user.email %>
  <%= link_to 'Sign out', sign_out_path, method: :delete %>
  <nav>
    <ul>
      <li><%= link_to "View Profile", current_user %></li>
      <li><%= link_to "Update Profile", edit_user_path(current_user) %></li>
      <li><%= link_to "View all your projects.", projects_path(current_user) %></li>
   </ul>
  </nav>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<%end%>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
