<!DOCTYPE html>
<html>
<head>
  <title>UpMinds</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://code.highcharts.com/highcharts.js"></script>
  <%= csrf_meta_tags %>
</head>

<header class="navigation">
  <div class="menu-wrapper">
    <a class="logo">
      <img src="http://miniclips.phillipmartin.info/arrows/curve_up_purple_xl.gif" alt="">
    </a>
    <p class="menu-button" id="js-mobile-menu">MENU</p>
    <div class="nav">
      <ul id="navigation-menu">
        <% if signed_in? %>
          <li><%= link_to "View your Profile", current_user %></li>
          <li><%= link_to "Update your Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "View your Projects", projects_path(current_user) %></li>
          <li><%= link_to "View your skills", user_proficiencies_path(current_user) %></li>
        <% end %>

        <% if signed_in? %>
          <%= link_to 'Sign out', sign_out_path, method: :delete %>
        <% end %>
      </ul>
    </div>
  </div>
</header>

<body>
<h1><%= link_to 'upMinds', root_path %></h1>
  <%= form_for(:search, url: search_path, method: :get) do |form| %>
    <%= form.text_field :query, placeholder: "Search Here" %>
    <%= form.submit "Search" %>
  <% end %>
<% if signed_in? %>
  Signed in as: <%= current_user.email %>
<% else %>
  <%= link_to 'Sign in', sign_in_path %>
<%end%>
    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

  </body>
</html>
